@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Kodchasan", sans-serif;
  font-family: "Merienda", cursive;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

.card {
  @apply w-full h-44 relative flex flex-col justify-center items-center rounded-card text-xl text-white drop-shadow-custom-card bg-gradient-to-tr;
}

.section-title {
  @apply bg-gradient-to-tr from-custom-title-one to-custom-title-two bg-clip-text text-transparent;
}

.shape-shadow {
  @apply h-40 w-40 absolute rounded-full blur-shape -z-10;
}

.menu {
  transition: all 0.6s ease-in-out;
}

.book {
  animation: book-animation 3s infinite ease-in-out;
}

@keyframes book-animation {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

#header,
#open-menu {
  transition: all 0.4s ease-in-out;
}

#header .shape-shadow {
  right: 0;
  background-color: blueviolet;
}

.banner .shape-shadow {
  left: 0;
  top: 600px;
  background-color: red;
}

.cards-section .shape-shadow {
  right: 0;
  top: 1200px;
  background-color: blue;
}

.offer-section .shape-shadow {
  left: 0;
  top: 1800px;
  background-color: blue;
}

.testimonies-section .shape-shadow {
  right: 0;
  top: 2400px;
  background-color: blueviolet;
}
